<div class="container task-edit-container">
    <h2 class="task-edit-title">タスク編集</h2>
    <div class="task-edit-form">
        <div class="task-edit-form-container">
            <%= form_with(model: @task, local: true) do |f| %>
            <%# エラーメッセージ処理 %>
            <% if @task.errors.any? %>
            <div class="error-messages">
                <ul>
                    <% @task.errors.full_messages.each do |message| %>
                    <li class="error-message"><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>

            <div class="task-edit-form-fields">
                <div class="task-edit-form-field">
                    <%= f.label :name, "タイトル", class: "task-edit-form-label" %>
                    <%= f.text_field :name, class: "task-edit-form-text-field", placeholder: "例: 資料作成" %>
                </div>
                <div class="task-edit-form-field task-edit-form-select-container">
                    <%= f.label :status, "ステータス", class: "task-edit-form-label" %>
                    <%= f.select :status, 
                            Task.statuses.map { |key, value| [t("tasks.status.#{key}"), key] },
                            { selected: @task.status },
                            { class: "task-edit-form-select" } %>
                </div>
            </div>
            <div class="task-edit-form-button-container">
                <%= link_to '戻る', root_path, class: 'task-edit-form-back-button' %>
                <%= f.submit "更新", class: 'task-edit-form-add-button' %>
            </div>
            <% end %>
        </div>
    </div>
</div>