<div class="container task-container">
    <div class="task-team">
        <h2 class="task-team-header">チーム名</h2>
        <div class="task-team-icons">
            <%= image_tag "編集アイコン.png", class: "task-team-icon" %>
            <%= image_tag "trash-box.png", class: "task-team-icon" %>
            <%= image_tag "リンクアイコン.png", class: "task-team-icon" %>
        </div>
    </div>
    <div class="task-lists">
        <div class="task-list">
            <div class="task-list-container">
                <h3 class="task-list-header">
                    未完了
                </h3>
                <ul class="task-list-items">
                    <li class="task-list-item">
                        <div class="task-list-item-content">
                            <h4 class="task-list-item-title">Todo1</h4>
                            <div class="task-list-item-icons">
                                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                            </div>
                        </div>
                    </li>
                    <li class="task-list-item">
                        <div class="task-list-item-content">
                            <h4 class="task-list-item-title">Todo1</h4>
                            <div class="task-list-item-icons">
                                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                            </div>
                        </div>
                    </li>
                    <li class="task-list-item">
                        <div class="task-list-item-content">
                            <h4 class="task-list-item-title">Todo1</h4>
                            <div class="task-list-item-icons">
                                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="task-list">
            <div class="task-list-container">
                <h3 class="task-list-header">
                    着手
                </h3>
                <ul class="task-list-items">
                    <li class="task-list-item">
                        <div class="task-list-item-content">
                            <h4 class="task-list-item-title">Todo1</h4>
                            <div class="task-list-item-icons">
                                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                            </div>
                        </div>
                    </li>
                    <li class="task-list-item">
                        <div class="task-list-item-content">
                            <h4 class="task-list-item-title">Todo1</h4>
                            <div class="task-list-item-icons">
                                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                            </div>
                        </div>
                    </li>
                    <li class="task-list-item">
                        <div class="task-list-item-content">
                            <h4 class="task-list-item-title">Todo1</h4>
                            <div class="task-list-item-icons">
                                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="task-list">
            <div class="task-list-container">
                <h3 class="task-list-header">
                    完了
                </h3>
                <ul class="task-list-items">
                    <li class="task-list-item">
                        <div class="task-list-item-content">
                            <h4 class="task-list-item-title">Todo1</h4>
                            <div class="task-list-item-icons">
                                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                            </div>
                        </div>
                    </li>
                    <li class="task-list-item">
                        <div class="task-list-item-content">
                            <h4 class="task-list-item-title">Todo1</h4>
                            <div class="task-list-item-icons">
                                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                            </div>
                        </div>
                    </li>
                    <li class="task-list-item">
                        <div class="task-list-item-content">
                            <h4 class="task-list-item-title">Todo1</h4>
                            <div class="task-list-item-icons">
                                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="task-add-button">
        <%= image_tag "plus-icon.png", class: "task-add-button-icon" %>
    </div>
</div>