<div class="container task-container">
  <% if @team %>
  <div class="task-team">
    <h2 class="task-team-header"><%= @team.name %></h2>
    <div class="task-team-icons">
      <%= link_to edit_team_path(@team) do %>
      <%= image_tag "編集アイコン.png", class: "task-team-icon" %>
      <% end %>
      <%= button_to team_path(@team),
                                    method: :delete,
                                    form: {
                                        data: {
                                            turbo_confirm: '本当に削除しますか？'
                                        },
                                        class: "task-team-form"
                                    },
                                    class: "task-team-icon" do %>
      <%= image_tag "trash-box.png", class: "task-team-icon" %>
      <% end %>
      <%= image_tag "リンクアイコン.png", class: "task-team-icon" %> </div>
  </div>
  <div class="task-lists">
    <div class="task-list">
      <div class="task-list-container">
        <h3 class="task-list-header">
          未完了
        </h3>
        <ul class="task-list-items">
          <% @tasks.where(status: 0).each do |task| %>
          <li class="task-list-item">
            <div class="task-list-item-content">
              <h4 class="task-list-item-title"><%= task.display_name %></h4>
              <div class="task-list-item-icons">
                <%= link_to edit_task_path(task) do %>
                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                <% end %>
                <%= button_to task_path(task),
                                    method: :delete,
                                    form: {
                                        data: {
                                            turbo_confirm: '本当に削除しますか？'
                                        },
                                        class: "task-delete-form"
                                    },
                                    class: "task-delete-button" do %>
                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                <% end %>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="task-list">
      <div class="task-list-container">
        <h3 class="task-list-header">
          着手
        </h3>
        <ul class="task-list-items">
          <% @tasks.where(status: 1).each do |task| %>
          <li class="task-list-item">
            <div class="task-list-item-content">
              <h4 class="task-list-item-title"><%= task.display_name %></h4>
              <div class="task-list-item-icons">
                <%= link_to edit_task_path(task) do %>
                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                <% end %>
                <%= button_to task_path(task),
                                    method: :delete,
                                    form: {
                                        data: {
                                            turbo_confirm: '本当に削除しますか？'
                                        },
                                        class: "task-delete-form"
                                    },
                                    class: "task-delete-button" do %>
                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                <% end %>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="task-list">
      <div class="task-list-container">
        <h3 class="task-list-header">
          完了
        </h3>
        <ul class="task-list-items">
          <% @tasks.where(status: 2).each do |task| %>
          <li class="task-list-item">
            <div class="task-list-item-content">
              <h4 class="task-list-item-title"><%= task.display_name %></h4>
              <div class="task-list-item-icons">
                <%= link_to edit_task_path(task) do %>
                <%= image_tag "編集アイコン.png", class: "task-list-item-icon" %>
                <% end %>
                <%= button_to task_path(task),
                                    method: :delete,
                                    form: {
                                        data: {
                                            turbo_confirm: '本当に削除しますか？'
                                        },
                                        class: "task-delete-form"
                                    },
                                    class: "task-delete-button" do %>
                <%= image_tag "trash-box.png", class: "task-list-item-icon" %>
                <% end %>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="task-add-button">
    <%= link_to new_team_task_path(@team) do %>
    <%= image_tag "plus-icon.png", class: "task-add-button-icon" %>
    <% end %>
  </div>
  <% else %>
  <div class="task-team-message-container">
    <p class="task-team-message">チームに所属していません。<br>チームを新規作成するか既存のチームに招待してもらいましょう。
    </p>
  </div>
  <% end%>
</div>